{% extends 'base.html' %}
{%load static %}

<title> {% block title %} Contact Us
    {% endblock %}</title>
    <h1 class="display-3 text-white animated slideInDown">
        {% block  pagename %}
        Contact Us
        {% endblock pagename  %}
            </h1>
{% block body %}

    <!-- Contact Start -->
    <div class="container-xxl py-5">
      <div class="container">
          <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
              <h6 class="section-title bg-white text-center text-primary px-3">Contact Us</h6>
              <h1 class="mb-5">Contact For Any Query</h1>
          </div>
          <div class="row g-4">
              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                  <h5>Get In Touch</h5>
                  <p class="mb-4">The contact form is currently inactive. Get a functional and working contact form with Ajax & PHP in a few minutes. Just copy and paste the files, add a little code and you're done. <a href="https://htmlcodex.com/contact-form">Download Now</a>.</p>
                  <div class="d-flex align-items-center mb-3">
                      <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">
                          <i class="fa fa-map-marker-alt text-white"></i>
                      </div>
                      <div class="ms-3">
                          <h5 class="text-primary">Office</h5>
                          <p class="mb-0">123 Street, New York, USA</p>
                      </div>
                  </div>
                  <div class="d-flex align-items-center mb-3">
                      <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">
                          <i class="fa fa-phone text-white"></i>
                      </div>
                      <div class="ms-3">
                          <h5 class="text-primary">Mobile</h5>
                          <p class="mb-0">+010 16 78 1020</p>
                      </div>
                  </div>
                  <div class="d-flex align-items-center">
                      <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">
                          <i class="fa fa-envelope-open text-white"></i>
                      </div>
                      <div class="ms-3">
                          <h5 class="text-primary">Email</h5>
                          <p class="mb-0">info@example.com</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                  <iframe class="position-relative rounded w-100 h-100"
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001156.4288297426!2d-78.01371936852176!3d42.72876761954724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew%20York%2C%20USA!5e0!3m2!1sen!2sbd!4v1603794290143!5m2!1sen!2sbd"
                      frameborder="0" style="min-height: 300px; border:0;" allowfullscreen="" aria-hidden="false"
                      tabindex="0"></iframe>
              </div>
              <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                <form class="form-contact contact_form"   method="post"  enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="row">
                   <div class="col-12 p-2">
                          <div class="form-group">
                            <input required class="form-control" name="subject" id="subject" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Subject'" placeholder = 'Enter Subject'>
                          </div>
                        </div>
                        <div class="col-12 p-2">
                          <div class="form-group">
                            <input required class="form-control" name="email" id="email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" placeholder = 'Enter email address'>
                          </div>
                        </div>
                    <div class="col-12 p-2">
                      <div class="form-group"> 
                          <textarea required class="form-control w-100" name="message" id="message" cols="30" rows="9" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Message'" placeholder = 'Enter Message'></textarea>
                      </div>
                    </div>
          
          
                  </div>
                  <div class="form-group mt-3">
                    <button type="submit" class="btn btn-primary btn-lg mt-2">Send Message</button>
                  </div>
                </form>
              </div>
          </div>
      </div>
  </div>
  <!-- Contact End -->
{% endblock body%}