{% extends 'base.html' %}
{%load static %}
<title> {% block title %} Courses
    {% endblock %}</title>
    <h1 class="display-3 text-white animated slideInDown">
        {% block  pagename %}
        Courses
        {% endblock pagename  %}
            </h1>
{%block body%}




    <!-- Courses Start -->
    <div class="container-xxl py-5">
      <div class="container">
          <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
              <h6 class="section-title bg-white text-center text-primary px-3">Courses</h6>
              <h1 class="mb-5">Popular Courses</h1>
          </div>
          
          <div class="row g-4 justify-content-center">
            {%for c in courses_list%}
              <div class="col-lg-4 col-md-6 course" data-wow-delay="0.1s">
                  <div class="course-item bg-light">
                      <div class="position-relative overflow-hidden">
                          <img class="img-fluid " src="{{c.course_image.url}}" alt="" width="397px">
                          <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                              <a href="{%url 'courses:view_single_course' c.slug%}" class="flex-shrink-0 btn btn-sm btn-primary px-3 border-end" style="border-radius: 30px 0 0 30px;">Read More</a>
                              <a href="#" class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Join Now</a>
                          </div>
                      </div>
                      <div class="text-center p-4 pb-0">
                          <h3 class="mb-0">${{c.course_price}}</h3>
                          <div class="mb-3">
                              <small>({{c.course_rate}})</small>
                          </div>
                          <h5 class="mb-4">{{c.course_name}}</h5>
                      </div>
                      <div class="d-flex border-top">
                          <small class="flex-fill text-center border-end py-2"><a href="{% url 'instructors:view_instructor' c.instructor_name.slug%}"><i class="fa fa-user-tie text-primary me-2"></i>{{c.instructor_name}}</a></small>
                          <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>{{c.course_houre}} Hrs</small>
                          <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>{{c.course_Student}} Students</small>
                      </div>
                  </div>
              </div>
            {%endfor%}
          </div>
      </div>
  </div>
  <!-- Courses End -->



{%endblock body%}
