{%extends 'base.html'%}
<title> {% block title %} {{instructor.name}}
    {% endblock %}</title>
<h1 class="display-3 text-white animated slideInDown">  {% block breadcrumb %} {{instructor.name}}
    {% endblock %}</h1>
    <li class="breadcrumb-item active" aria-current="page">
        {% block breadcrumb1 %}
        <a href ="#">Home</a>/
         <a href ="{% url 'instructors:view_instructos' %}">Team</a>/
         <a href ="{% url 'instructors:view_instructor' instructor.slug %}">{{instructor.name}}</a>

        {% endblock %}
    </li>
{%block body%}
<div class="container">
    <div class="row">

    <img src="{{instructor.image.url}}" class="img-fluid w-50 mx-auto d-block" alt="...">
    <div class ="col-12">
    <h4 class="text-center ">{{instructor.name}} | <span class="text-center text-muted">{{instructor.job}}</span></h4>
    </div>
    <div class ="col-12">
        <p class="text-center ">
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
             Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).>
        </p>
    </div>

</div>
</div>
{%endblock body%}